.player-roster {
     display: inline-block;
    border: 1px solid black;
}


.player-card {
    display: inline-block;
    border: 1px solid black;
    
}

.panels{
    display:flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap:wrap;

}

/*.img {
    width: 30%;
}*/

body {
    background-color: lightblue;
}

h4 {
  margin-top: 10px;
  text-align:center
}
/*.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}*/
/*[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}*/

/*hr {
  margin-top: 40px;
  margin-bottom: 40px;
}*/
